{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2 class="text-center">Welcome to Monopoly Bank</h2>
  <div class="container">
    <div class="jumbotron mt-5" style="background-color: transparent;">
      <p>
        Monopoly Bank is an investment bank that specializes in trading fuel. Our goal is to provide an innovative fuel purchasing service to our customers with incredible customer service.
      </p>
      <h3 class="mt-4">How to Buy Fuel:</h3>
      <ol>
        <li>Complete your profile by clicking on the "Complete Profile" tab in the navbar.</li>
        <li>Upon completing your profile, the fuel order form and fuel quote history tabs on the navbar will become visible.</li>
      </ol>
      <p class="mt-4">
        <strong>Note:</strong> The complete profile page cannot be accessed once it has been completed.
      </p>
    </div>
  </div>
{% endblock %}
