{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
  /* Add this style block to modify the font */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

  .professional-font {
    font-family: 'Roboto', sans-serif;
    /* Add any other desired styles */
  }
</style>

<div class="container">
  <h2 class="text-center display-4 mb-5 professional-font">Welcome to <span class="text-primary">Monopoly Bank</span></h2>
  <p class="lead text-center professional-font">
    Monopoly Bank is an investment bank that specializes in trading fuel. Our mission is to revolutionize the fuel industry by providing an innovative fuel purchasing service, backed by exceptional customer service.
  </p>
  <div class="text-center mt-5">
    <h3 class="mb-4 professional-font">How to Buy Fuel:</h3>
    <ol class="text-left professional-font">
      <li>Complete your profile by clicking on the "Complete Profile" tab in the navigation bar.</li>
      <li>Once your profile is complete, the fuel order form and fuel quote history tabs will be unlocked in the navigation bar.</li>
    </ol>
    <p class="mt-4 professional-font">
      <strong>Note:</strong> The Complete Profile page will be inaccessible once it has been completed.
    </p>
  </div>
</div>
{% endblock %}
