{% extends "base.html" %} 
{% block title %}Sign Up{% endblock %} 
{% block content %}
<form method="POST" class="form-signup">
  <h3 class="mb-3 text-center">Sign Up</h3>
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      autocomplete="text"
      id="username"
      name="username"
      placeholder="Enter username"
      required
    />
  </div>

  <div class="form-group">
    <label for="new-password">Password</label>
    <input
      type="password"
      class="form-control"
      autocomplete="new-password"
      id="new-password"
      name="password"
      placeholder="Enter password"
      required
    />
  </div>
  <div class="form-group">
    <label for="confirm-password">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      autocomplete="new-password"
      id="confirm-password"
      name="confirm-password"
      placeholder="Confirm password"
      required
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary btn-block">Register and Log In</button>
</form>
{% endblock %}
